:root{
    font-size: 62.5%;
    --header-height:7.2rem;

    --primary-color:#351808;
    --primary-color-scroll:#351808cb;
    --bg-color:rgba(93, 124, 9, 0.62);
    --bg-color2:#F7F9F9;
    --bege:#FFFAF1;
    --headline-:#212529;
    --paragraph:#495057;
    --secondary-white:#EDEDED;
    --primary-hover:#271206;

}

html,
body{
    width: 100%;
    height: 100%;
}

body{
    font-size: 1.6rem;
    font-family: 'DM Sans', sans-serif;
    text-align: center;

    overflow: overlay;
}

.wrapper{
    width: 37.5rem;
    margin-inline:auto;
}

header{
    position: fixed;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    height: var(--header-height);
    border-bottom: 1px solid var(--primary-color-scroll);
}

header .icons__svg{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.1rem 2.4rem;
}

header.scroll{
    background-color: var(--primary-color-scroll);
    width: 100vw;
    border: none;

    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    -moz-backdrop-filter: blur(3px);
}

header.scroll .logo__svg svg path{
    fill:var(--secondary-white);
}

header.scroll .menu__svg svg path{
    stroke:var(--secondary-white);
}

.cabecalho .menu__svg button{
    border: none;
    background: none;
    cursor: pointer;
    padding: 0.2rem 0 0;
}

.cabecalho .menu__svg button img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.principal::before{
    content: "";
    width: 100%;
    height: 98rem;
    background-color: var(--bg-color);
    display: block;

    z-index: -1;
    top: 0;
    left: 0;
    position: absolute;
}

.principal__hero h2{
    padding-top: calc(3.9rem + var(--header-height));
    font-size: 1.4rem;
    color: var(--primary-color);
}

.principal__hero h1{
    padding-top: 1.6rem;
    font-size:3.4rem;
    color: var(--headline-);
    margin: 0 2.4rem;
}

.principal__hero p {
    padding-top: 2.4rem;
    font-size: 1.8rem;
    color: var(--paragraph);
    margin: 0 2.4rem;
}


.hero__btn{
    width: 26.3rem;
    height: 5.2rem;
    margin: 3.2rem auto 0;  

    cursor: pointer;
    border: none;
    border-radius: 4rem;
    background-color: var(--primary-color);
    color: var(--secondary-white);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    text-transform: uppercase;
}

.hero__btn:hover{
    background-color: var(--primary-hover);
}

.hero__btn span{
    font-weight: 700;
    font-size: 1.4rem;
}

.hero__familia{
    width: 30rem;
    height: 31.6rem;
    margin-inline:auto;
}

.montanhas{
    width: 100%;
    background-image: url(../images/montanhas.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__infos{
    width: 32.7rem;
    padding-block:4rem;
    margin-inline:auto;


    background-color: var(--bege);
    border: 1px solid var(--bg-color);
    border-top: none;
    border-radius: 0.6rem;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
}

.hero__infos h3{
    font-size: 4.8rem;
    color: var(--headline-);
    line-height: 130%;
    margin-bottom: 0.4rem;
}

.hero__infos p{
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    color: var(--primary-color);
    line-height: 150%;
}

/* ========== MENU EXPANDIDO ================ */
body.menu__expanded{
    overflow: hidden;
}

body.menu__expanded > :not(header){
    display: none;
}

.menu__header,
.close__menu,
body.menu__expanded .open__menu{
    display: none;
}

body.menu__expanded .menu__header,
body.menu__expanded .close__menu{
    display: block;
}

body.menu__expanded .menu__header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-color);

    width: 100vw;
    height: 100vh;
}

body.menu__expanded header{
    position: relative;
}

.menu__header ul:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    margin-top: calc(6rem + var(--header-height));
    margin-bottom: 4.8rem;
}


.menu__header ul:nth-child(1) li a{
    color: var(--secondary-white);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
}

.menu__header a.button{
    font-weight: 700;
    font-size: 1.8rem;
    text-transform: uppercase;

    color: var(--primary-color);
}

.menu__header .button{
    box-sizing: border-box;
    align-items: center;
    padding: 1.6rem 3.2rem;
    line-height: 2.3rem;
    width: 27.4rem;
    height: 5.5rem;
    display: inline-block;
    background: var(--secondary-white);
    border-radius: 4rem; 
    margin-bottom: 8rem;
}

.social__links{
    justify-content: center;
    display: flex;
    gap: 3.2rem;
}

body.menu__expanded .logo__svg,
body.menu__expanded .menu__svg{
    position: relative;
    z-index: 2;
}

body.menu__expanded .logo__svg svg path{
    fill:var(--secondary-white);
}

body.menu__expanded .menu__svg svg path{
    stroke:var(--secondary-white);
}